*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/

*.mp4
libero.egg-info/
.vscode/

# Large files - do not push
libero/datasets/
experiments/
experiments_saved/
bert/
*.pth
*.pt
*.hdf5
*.h5
__pycache__/
*.pyc
outputs/
libero/libero/assets/
